html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h1 Activate
      p Follow link to set password
      a(href='http://localhost:3000/activation?vhash=' + user.vhash) link