html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h1 Tu usuario ha sido activado
      p Muchas felicidades y bienvenido a esta comunidad. Tenemos una dinámica donde irás cargando puntos y esto va a dar inicio a algo donde se llevara el registro